html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite,
code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark,
audio, video, details, summary
    {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font-weight: normal;
        vertical-align: baseline;
        background: transparent;
    }



@font-face {

  font-family: amyn; src: url("../../assets/fonts/amyn.ttf");

}

/* * {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

} */

body, html {height: 100%;

  background: url('../../assets/images/Loading_BlurredFrostbiteCaverns.png');
  height: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  position: static;
  background-attachment: fixed;

}

/* .bg-img {

  background: url('../../assets/images/Loading_BlurredFrostbiteCaverns.png');
  height: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  position: static;
  background-attachment: fixed;

} */

.rg-logo:hover {cursor: pointer;color:#bfe1ff;transition: 0.5s;}

.logo-link {

  color: white;
  text-decoration: none;

}

.header {

  background: #47689e;
  padding: 16px;
  color: white;
  opacity: 0.9;
  display: flex;

}

.header-text {

  text-align: left;
  font-family: amyn;
  border-right: 3px solid white;
  border-left: 3px solid white;
  padding-left: 23px;
  padding-right: 23px;

}

.header-text:nth-child(1) {font-size: 2.35em;}
.header-text:nth-child(2) {font-size: 1.23em;}


.nav-list {

  color: white;
  list-style-type: none;
  font-family: amyn;
  font-size: 40px;
  overflow: hidden;
  display: block;
  margin-left: 30%;
  position: absolute;
  padding-top: 11.5px;

}

.nav-list a {

  color: white;
  text-decoration: none;
  list-style-type: none;
  padding-top: 0;

}

.nav-list a:hover {

  color: #bababa;
  transition: 0.175s;

}

.nav-list li {float: left;padding: 37px;padding-top: 0;}



/* .news-img1 {

  height: 10%;
  width: 15%;
  margin-top: 250px;
  margin-left: 230px;

  } */



.blocks {

    display: inline-flex;

  }

.blocks-text {

  text-decoration: none;
  color: black;

}

.block-01 {

  width: 450px;
  height: 400px;
  border: 15px solid white;
  padding: 24px;
  margin-top: 0px;
  margin-left: 0px;
  background-color: white;

}

.block-02 {

  width: 450px;
  height: 400px;
  border: 15px solid white;
  padding: 24px;
  margin-top: 240px;
  margin-left: 20px;
  background-color: white;

}

.block-03 {

  width: 450px;
  height: 400px;
  border: 15px solid white;
  padding: 24px;
  margin-top: 140px;
  margin-left: 20px;
  background-color: white;

}
