* {

  margin: 0;
  padding: 0;

}

.tmp {

  text-align: center;
  padding-top: 13%;
  font-variant: small-caps;

}

.tmp-2 {

  text-align: center;
  font-size: 1.3em;
  font-family: serif;
  padding-top: 1%;

}

.tmp-3 {

  align-self: center;

}
